@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
    font-size: 62.5%; /* 10px */

    --font-default: 'PT Sans Narrow', sans-serif;

    --fs-normal: 1.6rem;
    --fs-large: 2.02rem;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
}
body {
    width: 80vw;
}
header{
    background-color: #000;
    padding: 2rem;
}
.nav{
    display: flex;
    gap: 13%;
    justify-content: space-around;
    align-items: center;
}
.nav ul{
    font-family: var(--font-default);
    font-size: var(--fs-normal);
    display: flex;
    gap: 4rem;
    align-items: center;
}

