@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
    font-size: 62.5%; /* 10px */

    --font-default: 'PT Sans Narrow', sans-serif;

    --fs-normal: 1.6rem;
    --fs-large: 2.02rem;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
}
body{
    background-image: url(../images/background.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: #fff;
}
header{
    background-color: #000;
    padding: 2rem;
}
.nav{
    display: flex;
    gap: 13%;
    justify-content: space-around;
    align-items: center;
}
.nav ul{
    font-family: var(--font-default);
    font-size: var(--fs-normal);
    display: flex;
    gap: 4rem;
    align-items: center;
}
.nav a:hover,
.nav a:focus{
    background-color: #242424;
}
.user-navigation{
    display: flex;
    gap: 1.6rem;
}
.user-navigation li{
    list-style-image: url(../images/login.png);
}
#home{
    display: flex;
    justify-content: center;
    padding: 12rem 0;
}
#home img{
    min-width: 380px;
    min-height: 163px;
}